.selectbox {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select {
  width: 20%;
}

.main {
  width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image {
  width: 200px;
  height: 200px;
}

.button {
  background: #9d0b0e;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
}